.space_checkmark
{
	background-image: url(../img/checkmark-xxl.png);
    height: 50px;
    width: 50px;
    background-size: 27px auto;
    background-repeat: no-repeat;
    position: absolute;
    right: -60px;
    top: 42px;
}
.space_cross
{
	background-image: url(../img/x-mark-xxl.png);
    height: 50px;
    width: 50px;
    background-size: 27px auto;
    background-repeat: no-repeat;
    position: absolute;
    right: -60px;
    top: 42px;
}

.center_back_otp form#otp_form {
    float: none!important;
    display: block!important;
    text-align: center!important;
}


.custom_page_class {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(135deg, #dc0032 0%, #dc0032 0%, #640032 100%, #640032 100%) repeat scroll 0 0;
}

.custom_page_class #registerForm,.custom_page_class .hide_after_60,#resend_otp{
  background: #fff;
  border-radius: 10px;
  color: #333;
  left: 50%;
  padding: 10% 37px 6%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
#resend_otp_trigger {
    background: grey !important;
}
.custom_page_class .btn-primary {
  background: rgba(0, 0, 0, 0) linear-gradient(135deg, #dc0032 0%, #dc0032 0%, #640032 100%, #640032 100%) repeat scroll 0 0;
  color: #fff;
  padding: 1rem 2.75rem;
  border : none !important;
}
#registerForm b,.hide_after_60 b {
  color: #dc0032;
  display: block;
  margin-bottom: 20px;
}
#registerForm .form-control,.hide_after_60 .form-control {
  background: #fff none repeat scroll 0 0;
  border-width: 1px;
  color: #dc0032 !important;
  font-size: 15px;
  height: 45px;
  outline : none !important;
}
 .center_back_otp {
    background: #fff;
    border-radius: 10px;
    color: #333;
    left: 50%;
    padding: 0;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    position: absolute;
}
    .center_back_otp form.hide_after_60.text_otp_cent {
    width: 470px;
    transform: translate(0%, 0%);
    top: 0 !important;
    left: 0;
    position: relative;    
}
#resend_otp {
    background: transparent none repeat scroll 0 0;
    left: 0;
    padding: 0px 40px !important;
    top: 0;
    position: relative;
    transform: translate(0%, 0%);
    margin: 0 0 0 0;
}
    #resend_otp .btn_vrify {
    margin: 30px 0 60px 0;
}


    form.text_otp_cent {
    padding: 45px 40px !important;
}
    form.text_otp_cent label {
    float: left;
    width: 100%;
}
    form.text_otp_cent label b {
    margin: 15px 0;
    color: #000;
    text-align: left;
    font-size: 21px;
    line-height: normal;
    float: left;
}
.btn_vrify .verify_mob {
    background: #d12149 !important;
    font-size: 19px;
    border-radius: 11px;
    padding: 14px 25px;
}
   a.search-submit.change_num {
    color: #d12149;
    float: right;
    width: auto;
    text-align: right;
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
}
    

    
    
    input#mobl_nmber_fortwofa_recieved_code {
    height: 45px;
}
    .btn_vrify {
    float: left;
    width: 100%;
    margin-top: 15px;
}
    span#cunt_seconds {
    float: right;
        font-weight: 600;
    color: #545454;
}
 form.text_otp_cent span#countdown-1 {
    float: right;
    margin-right: 4px;
    font-weight: 600;
    color: #545454;
}
    span#msg_ids {
    float: left;
    width: auto;
    font-size: 16px;
    font-weight: 600;
}
    
    @media screen and (max-width:767px){
        .center_back_otp {
    width: 100%;
}
        .center_back_otp form.hide_after_60.text_otp_cent {
    width: 100%;
    transform: translate(0%, 0%);
    top: 0 !important;
    left: 0;
    position: relative;
}
}    
    